[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Jinja2 = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
tweepy = "*"
python-dotenv = "*"
scikit-learn = "*"
psycopg2-binary = "*"
gunicorn = "*"
spacy = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
